
body{
    background-color: rgb(191, 245, 110);
}

h1{
    font-family: bangers;
    color: rgb(69, 69, 161);
    text-align: center;
    font-size: 7em;
    font-stretch: ultra-expanded;
}

h2{
    font-family: Barriecito;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#start{
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(168, 168, 218);
}

#start:hover{
    background-color: blue;
}


